<div class="d-flex justify-content-center mt-2 " style="height: 400px">

  <div class="border row col-md-5 d-flex justify-content-center"
      style="background-color: rgba(179, 218, 218, 0.1);">

    <div class="my-auto"> 

     
      <vg-player>        
         
        <video *ngIf="videoSource" 
                #media
                #vgHls="vgHls"
                [vgMedia]="media"               
                [vgHls]="videoSource"
                id="singleVideo"
                controls
                width="480px"
                height="360px"
                autoplay="true"                
                crossorigin>
        </video>
      </vg-player>
    </div>

  </div>
      

  <div class="border row col-md-5 d-flex justify-content-center"
    style="background-color: rgba(179, 218, 218, 0.1);">
    <div class="my-auto">
      <img [attr.src]="imageSource" width="480px" height="360px" style="border:1px" alt="">
    </div>
  </div>

  <canvas id="canvas" style="display: none;"></canvas>
</div>

<div class="container">
  <button class= "btn btn-danger" (click)="takePicture()">Take picture</button>
</div>


